.App{
    height: 100%;
    background-color: #8984D5;
    position: fixed;
    width: 100%;
}

header{
    width: 100%;
    background-color: #7250B2;
    height: 50px;
    display: flex;
    z-index: 1;
    margin-bottom: 30px;
    border-bottom: groove thin #8984D5;
}

.header-logo{
    margin-top: 25px;
    height: 50px;
    position: fixed;
    background-color: white;
    z-index: 3;
    border-radius: 90px;
    font-size: 1rem;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    border-bottom: groove thin #8984D5;
    margin-left: 2%;
} 

.home-container{
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: column;
}

.home-container img{
    width: auto;
    height: 50%;
    margin-bottom: 5%;
}

.home-container h3{
    text-align: center;
}

.home-user-buttons{
    display: flex;
    flex-direction: column;
}

.home-user-buttons a{
    margin-bottom: 15%;
    background-color: white;
    color: black;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    border:outset
}

.home-user-buttons a::after{
    text-decoration: none;
}