.App{
    height: 100%;
    background-color: #04615a;
    position: fixed;
    width: 100%;
    color: white
}

button, .form-button{
    color: #FFF;
    transition: all 0.5s;
    position: relative;
    text-decoration: none;
    font-size: 1.2rem;
    background-color: #04615a;
    border: none
}

button::before, .form-button::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
}
button:hover::before, .form-button:hover::before{
  opacity: 0 ;
  transform: scale(0.5,0.5);
}

button::after, .form-button::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255,255,255,0.5);
  transform: scale(1.2,1.2);
}
  button:hover::after, .form-button:hover::after{
    opacity: 1;
    transform: scale(1,1);
  }