.connect-container{
    margin-left: 17.5%;
    display: flex;
    justify-content: center;
    height: 70%;
}

.connect-card{
    margin-top: 3%;
    outline: solid;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #06355b;
    box-shadow: 10px 10px 5px black;
}

.card-image{
    margin-top: 2%;
    height: 60%;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-radius: 25px;
}

.card-image img{
    height: 100%;
    width: 100%;
    border-radius: 25px;
}

.card-info{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.card-info p{
    margin-right: 10%;
    font-size: 1.2rem;
}

.card-info h3{
    margin-left: 10%;
}

.card-description{
    outline: solid #06355b;
    width: 85%;
    border-radius: 10px;
    height: 20%;
    background-color: white;
    margin-bottom: 3%;
}

.card-description p{
    overflow: hidden;
    padding-left: 5%;
    margin-bottom: 1%;
    color: #06355b
}

#favorite-character{
    padding-top: 1.5%;
    border-top: solid #06355b;
}

.like-dislike{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}

.icon{
    font-size: 2rem;
}

#like:hover{
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
    color: #3bc293;
}

#dislike:hover{
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
    color: red;
}