.connect-container{
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.connect-card{
    margin-top: 3%;
    outline: solid;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2%;
}

.card-image{
    margin-top: 2%;
    height: 60%;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-radius: 25px;
}

.card-image img{
    height: 100%;
    width: 100%;
    border-radius: 25px;
}

.card-info{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.card-info p{
    margin-right: 10%;
    font-size: 1.2rem;
}

.card-info h3{
    margin-left: 10%;
}

.card-description{
    outline: solid;
    width: 85%;
    border-radius: 10px;
}

.card-description p{
    padding-left: 5%;
    margin-bottom: 1%;
}

#favorite-character{
    border-top: solid;
}

.like-dislike{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}

.icon{
    font-size: 1.5rem;
}

#like:hover{
    -webkit-transition: color 0.5s ease-out;
    -moz-transition: color 0.5s ease-out;
    -o-transition: color 0.5s ease-out;
    transition: color 0.5s ease-out;
    color: green;
}

#dislike:hover{
    -webkit-transition: color 0.5s ease-out;
    -moz-transition: color 0.5s ease-out;
    -o-transition: color 0.5s ease-out;
    transition: color 0.5s ease-out;
    color: red;
}