.converse-container{
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    align-items:center;
    height: 80%;
}

.messages-container{
    height:100%
}

.conversation-header{
    display: flex;
    align-items: center;
}

.converse-container *{
    /* border: solid; */
}

.conversation-frame{
    width: 75%;
    height: 90%;
    border: solid;
    display: flex;
    flex-direction: column;
}

.message-input-container{
    align-self: flex-end;
    display: flex;
    justify-content: center;
    width: 100%;
    outline: solid;
    height: 7%;
    align-items: center;
}

.converse-container img{
    height: 50px;
    width: 50px;
    /* transform:  */
    border-radius: 90px;
    margin-right: 10px;
    margin-left: 5px;
    margin-top: 5px;
}