.converse-container{
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    align-items:center;
    height: 80%;
}

.converse-container img{
    height: 50px;
    width: 50px;
    border-radius: 90px;
    margin-right: 10px;
    margin-left: 5px;
    margin-top: 5px;
}

.conversation-header{
    display: flex;
    align-items: center;
}

.conversation-frame{
    width: 75%;
    height: 90%;
    display: flex;
    flex-direction: column;
}

.messages-container{
    height:100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    overflow: scroll;
}

.user-message{
    border: solid thin;
    border-radius: 10px;
    background-color: #3bc293;
    width: 45%;
    align-self: flex-end;
    margin-bottom: 10px;
}

.user-message p{
    margin-left: 3%;
}

.connection-message{
    border: solid thin ;
    border-radius: 10px;
    background-color: grey;
    width: 45%;
    align-self: flex-start;
    margin-bottom: 10px;
}

.connection-message p{
    margin-left: 3%;
}

.message-input-container{
    align-self: flex-end;
    display: flex;
    justify-content: center;
    width: 100%;
    outline: solid thin #06355b;
    height: 7%;
    align-items: center;
    background-color: #06355b;
}


