.login-container{
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: column;
}

.login-form{
    position: relative;
    padding-left: 8%;

}

.login-form input{
    margin-right: 10px;
}

.form-button{
    margin-left: 20%;
}