.sidebar-container{
    position: fixed;
    background-color: #06355b;
    height: 100%;
    width: 17%;
    top: 50px;
    border-right: solid #3bc293
}

.user-card{
    display: flex;
    text-align: center;
    color: white;
    border-bottom: solid #3bc293;
}

.user-card img{
    height: 50px;
    width: 50px;
    border-radius: 90px;
    margin-right: 10px;
    margin-left: 5px;
    margin-top: 5px;
}

.card-header{
    display: flex;
}

.match-card{
    border: groove #04615a;
    background-color: white;
}

.match-card img{
    height: 50px;
    width: 50px;
    border-radius: 90px;
    margin-right: 10px;
    margin-left: 5px;
    margin-top: 5px;
}

#buffer{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    border-bottom: solid #04615a;
}

.card-message{
    opacity: .5;
    margin-left: 3%;
    font-size: .7rem;
}

.sidebar-container a{
    text-decoration: none;
    color: black;
    background-color: white;
}