.sidebar-container{
    position: fixed;
    background-color: white;
    height: 100%;
    width: 17%;
    top: 50px;
}

.card-list{
    margin-top: 50px;
}

.user-card{
    display: flex;
    border-top: groove grey;
    border-bottom: groove grey;
    text-align: center;
}

.user-card img{
    height: 50px;
    width: 50px;
    /* transform:  */
    border-radius: 90px;
    margin-right: 10px;
    margin-left: 5px;
    margin-top: 5px;
}

.card-header{
    display: flex;
}

.match-card{
    border-top: groove thick grey;
    border-bottom: groove thick grey;
}

.match-card img{
    height: 50px;
    width: 50px;
    /* transform:  */
    border-radius: 90px;
    margin-right: 10px;
    margin-left: 5px;
    margin-top: 5px;
}

#buffer{
    /* height: 10px */
    text-align: center;
}

.card-message{
    opacity: .5;
    margin-left: 3%;
    font-size: .7rem;
}

.sidebar-container a{
    text-decoration: none;
    color: black;
}